@font-face {
    font-family: 'Perfect DOS VGA 437 Win';
    src: url('Perfect DOS VGA 437 Win.ttf') format('truetype');
}
* {
	font-family: 'Perfect DOS VGA 437 Win';
  font-size: xxx-large;
}
html,body { height:calc(100% - 80px); 
  background-color: #0000ab;
}

table {
  border:3px solid white;
  width:100%; margin:1px;
}

.navbar {
  overflow: visible;
  background-color: #0000ab;
  box-shadow: 10px 10px rgba(0,0,0,0.5);
  font-size: inherit;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: inherit;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #00aaa9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0000ab;
  min-width: 160px;
  box-shadow: 10px 10px rgba(0,0,0,0.5);
  z-index: 1;
}

.dropdown-content a {
  font-size: inherit;
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #00aaa9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
